<button mat-button class="btn btn-outline-dark" (click)="atp()">Aktiviraj test proces</button>



<div style="text-align:center">
  <div [hidden]="aktivnaStranica!=='korisnik'">
    <h1>Registracija korisnika</h1>

    <form class="example-form" [formGroup]="registrationForm" (submit)="save()">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Vase ime" formControlName="ime"> 
      </mat-form-field> <br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field><br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Korisnicko ime" formControlName="korisnickoIme">
      </mat-form-field><br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Lozinka" formControlName="lozinka">
      </mat-form-field><br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Adresa" formControlName="adresa">
      </mat-form-field><br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Mesto stanovanja" formControlName="mestoStanovanja">
      </mat-form-field><br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Postanski broj" formControlName="postanskiBroj">
      </mat-form-field><br>
  
      <mat-form-field>
        <mat-select placeholder="Vrsta korisnika" formControlName="tipKorisnika">
          <mat-option *ngFor="let korisnik of korisnici" [value]="korisnik.value">
            {{ korisnik.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <button mat-button [disabled]="!registrationForm.valid" type="submit" class="btn btn-outline-dark">Sacuvaj</button>
  
    </form>
  </div>
    

    <div [hidden]="aktivnaStranica!=='firma'">
        <h1>Registracija agenta firme</h1>
      <form class="example-form" [formGroup]="firmaForm" (submit)=saveFirma()>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Ime firme" formControlName="imeFirme"> 
        </mat-form-field> <br>
        
    
        <mat-form-field>
          <mat-select placeholder="Kategorije poslova" formControlName="kategorija"> 
            <mat-option *ngFor="let kategorija of kategorije" [value]="kategorija.ime">
              {{ kategorija.ime }}
            </mat-option>
          </mat-select>
        </mat-form-field><br>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Udaljenost"  formControlName="udaljenost"> 
        </mat-form-field>

        
        <button mat-button [disabled]="!firmaForm.valid" type="submit"> Sacuvaj firmu!</button>
      </form>

    </div>


    <a routerLink="/login" class="btn btn-outline-dark">Odustani</a>
       
  
  </div>