<form class="example-form" (ngSubmit)="login()" [formGroup]="loginForm">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Korisnicko ime" value="" formControlName="korisnickoIme">
  </mat-form-field> <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Lozinka" value="" formControlName="lozinka">
  </mat-form-field><br>

  <a routerLink="/registration" class="btn btn-link">Registruj se!</a>
  <button type="submit" class="btn btn-outline-dark">Prijavi se</button>
</form>