<button mat-button (click)="getActiveTasks()">Uzmi aktivne taskove</button>
<h2> Utvrdi termin pocetka izvrsavanja</h2>
<div *ngFor="let task of utvrdiTasks">
  <button mat-button (click)="saveTPI(task)">{{task}}</button>
</div>

<input [matDatepicker]="dpicker" 
                matInput
                placeholder="Termin pocetka izvrsavanja"
                class="form-control"
                [(ngModel)]="terminPocetkaIzvrsavanja" >
  <mat-datepicker-toggle matSuffix [for]="dpicker">
  </mat-datepicker-toggle>
  <mat-datepicker #dpicker></mat-datepicker>


<h2> Oceni klijenta </h2>
<div *ngFor="let task of oceniKlijentaTasks">
  <button mat-button (click)="oceni(task, true)">{{task}}</button>
</div>

<h2> Oceni firmu </h2>
<div *ngFor="let task of oceniFirmuTasks">
  <button mat-button (click)="oceni(task, false)">{{task}}</button>
</div>

<input 
  matInput
  type="number"
  placeholder="Ocena"
  min="0"
  max="5"
  class="form-control"
  [(ngModel)]="ocena" >